// Default Colors
$cl-white: #ffffff;
$cl-black: #000000;


// Gwei Default Colors
$cl-blue-default: #2A7BBF;
$cl-blue-dark: #212231;
$cl-blue-darker: #1A1B27;
$cl-blue-darkest: #151520;

$cl-grey-default: #cccccc;
$cl-grey-light: #e4e4e4;
$cl-grey-dark: #a0a0a0;
$cl-grey-darkest: #1A1B27;

$cl-red: #B15355;
