.section-footer {
  padding: 3rem .75rem 3rem .75rem;
  background-color: #ffffff;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }

  h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: .25rem 0 0 0;
  }
}

.footer-social-icons {
  display: flex;
  margin: 1.5rem 0 0;

  .social-icon {
    margin: 0 1rem;
  }

  .social-icon svg {
    width: 1.5rem;
    height: auto;
  }
}

@media screen and (min-width: 576px) {
  .section-footer {
    padding: 2rem .75rem 2rem .75rem;
  }

  .footer-wrapper h2 {
    font-size: 1.25rem;
  }

  .footer-wrapper h3 {
    font-size: .9rem;
  }

  .footer-social-icons {
    margin: 1rem 0 0;
  }

  .footer-social-icons .social-icon {
    margin: 0 .75rem;
  }

  .footer-social-icons .social-icon svg {
    width: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper h2 {
    font-size: 1.5rem;
  }

  .footer-wrapper h3 {
    font-size: 1rem;
  }

  .footer-social-icons .social-icon svg {
    width: 1.75rem;
  }
}